@use "../../../shared/styles/variables.scss" as *;

.wrapper_StreamStatus {
    display: flex;
    align-items: start;

    gap: $spacing-xs;

    &.widget {
        width: 100%;
        &.stretchInWidth {
            & > * {
                flex: 1;
            }
        }
        &.stretchInWidthVertical {
            & > * {
                width: 100%;
            }
        }
        &.verticalArrange {
            flex-direction: column;
        }
    }
}
