@use "../../../../shared/styles/variables.scss" as *;

.wrapper {
    border: 1px solid var(--color-border);
    padding: $spacing-xxs $spacing-xs;
    border-radius: $border-radius-lg;
    background-color: var(--color-items);
    line-height: $spacing-lg;
    width: 100%;

    opacity: 1;
    transition:
        opacity 0.3s ease,
        transform 0.3s ease;

    &.fadeOut {
        opacity: 0;
        transform: scale(0.97);
    }
}

.name {
    display: inline-flex;
    align-items: center;
    width: fit-content;
    height: 32px;
    position: relative;
    left: -$spacing-xxs;
    border: 1px solid var(--color-border);
    border-radius: $border-radius-md;
    padding: $spacing-xxs $spacing-xs;
    margin-right: $spacing-xxs;
    box-shadow: $shadow-sm;
    white-space: nowrap;
    gap: 0;

    &.noBackground {
        left: 0;
        background-color: transparent;
        border: none;
        box-shadow: none;
        padding: 0 $spacing-xs 0 $spacing-xxs;
        gap: $spacing-xxs;
    }
}

.nameText {
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
    user-select: text;
}

.message {
    position: relative;
    word-break: normal;
    overflow-wrap: break-word;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
    user-select: text;
    word-break: break-word;
    min-width: 0;
}

.icon {
    position: relative;
    margin-right: $spacing-xxs;
}

.wrenchIcon {
    position: relative;
    height: 14px;
    width: 14px;
    margin-left: $spacing-xxs;
}
