@use "../../../../shared/styles/variables.scss" as *;

.wrapper {
    display: flex;
    align-items: center;
    gap: $spacing-xs;
    background-color: var(--color-background-stream-status);
    padding: $spacing-xxs $spacing-sm;
    border-radius: $border-radius-md;
    margin-right: $spacing-xs;
    height: 40px;

    backdrop-filter: blur(2px);
}

.info {
    display: flex;
    flex-direction: column;
    font-size: 12px;
    gap: 0;
}

.metric {
    display: flex;
    align-items: center;
    gap: $spacing-xxs;
}

.number {
    font-family: monospace;
}

.serviceIcon {
    height: 18px;
    width: 18px;
}

.icon {
    height: 16px;
    width: 16px;
}
