@use "../../../shared/styles/variables.scss" as *;

.wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.settingsBlock {
    display: flex;
    gap: $spacing-md;
    flex-wrap: wrap;
}

.info {
    position: absolute;
    display: flex;
    top: 50%;
}
