@use "../../../../shared/styles/variables.scss" as *;

// добавить анимацию появления
.wrapper_WhiteListItem {
    display: flex;
    align-items: center;
    justify-content: space-between;

    background-color: var(--color-items);
    padding: 0 $spacing-xxs 0 $spacing-md;
    height: 32px;
    border-radius: $border-radius-md;

    flex-shrink: 0;
    min-width: 0;
}

.removeButton {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    background-color: var(--color-error-transparent);
    border-radius: $border-radius-sm;

    &:hover {
        animation: delete 0.4s;
        background-color: var(--color-error);
    }
}

.icon {
    width: 20px;
    height: 20px;
}

@keyframes delete {
    0%,
    100% {
        transform: rotate(0deg);
        border-radius: $border-radius-sm;
    }

    15% {
        transform: rotate(10deg);
    }

    30% {
        transform: rotate(-10deg);
        border-radius: 50%;
    }

    45% {
        transform: rotate(10deg);
    }

    60% {
        transform: rotate(-10deg);
        border-radius: 50%;
    }

    75% {
        transform: rotate(10deg);
    }
}
